{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Client{% endblock title %}

{% block head_scripts %}
  <script type="text/javascript">
    if (!window.console) console = {log: function() {}};
  </script>
  <script src="{% static "js/lib/modernizr.custom.92887.js" %}"></script>
{% endblock head_scripts %}

{% block content %}

<script type="text/template" id="template-dashboard">
<div class="row" id="dashboard-header">
  <div class="span6" id="project-info">
  </div>
  <div class="span6" id="controls">
  </div>
</div>
<div class="row">
  <div class="span6" id="chart-container">
  </div>
  <div class="span6" id="tabs-container">
  </div>
</div>
</script>

<script type="text/template" id="template-project-info">
<h1 id="project-title"><%= title %></h1>
<div id="project-details" style="position:relative;">
  <ul>
    <li>Location: <%= location %></li>
    <li>Description: <%= description %></li>
  </ul>
  <div class="btn-toolbar">
    <div class="btn btn-edit"><i class="icon-edit"></i> Edit Project Info</div>
    <div class="btn btn-danger btn-delete"><i class="icon-trash icon-white"></i> Delete Project</div>
  </div>
  <div class="alert alert-error" style="position:absolute; left:147px;">
    <span>Are you sure?</span>
    <div class="btn btn-danger btn-confirm">Yes</div>
    <div class="btn btn-cancel">No</div>
  </div>
</div>
</script>

<script type="text/template" id="template-controls">
<div class="btn-toolbar">
  <div class="btn btn-primary btn-save"><i class="icon-check icon-white"></i> Save</div>
  <div class="btn btn-reset"><i class="icon-refresh"></i> Reset</div>
  <div class="btn btn-share btn-info" style="float:right;"><i class="icon-share icon-white"></i> Share</div>
</div>
<div class="alert">
  <span id="status"></span>
</div>
</script>

<script type="text/template" id="template-share">
<div id="shareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="shareModalLabel">Share project</h3>
  </div>
  <div class="modal-body">
    <p>To share this project, simply send this URL to your colleagues.</p>
    <input type="text" class="input-xlarge" value="<%= url %>">
  </div>
  <div class="modal-footer">
    <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
</script>

<script type="text/template" id="template-project-modal">
<div id="projectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="projectModalLabel">Create Project</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-error"></div>
    <p><label for="id_title">Title:</label> <input class="input-xlarge" name="title" type="text" id="id_title" value="<%=title%>"></p>
    <p><label for="id_location">Geographic Location:</label> <input class="input-xlarge" name="location" type="text" id="id_location" value="<%=location%>"></p>
    <p><label for="id_description">Description:</label> <textarea class="input-xlarge" cols="150" rows="5" name="description" id="id_description"><%=description%></textarea></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary btn-save">Save</button>
  </div>
</div>
</script>

<script type="text/template" id="template-comment">
<form class="form-inline">
  <input name="comment" type="text" id="id_comment" placeholder="Enter your comment...">
  <button id="submit-comment" class="btn btn-primary">Submit</button>
</form>
<div class="comment-list-container"></div>
</script>

<script type="text/template" id="template-parameter-label">
  <span class="param-label"><%= title %> (<%= units %>)</span>: <span class="param-value"><%= value %></span>
  <a href="/theory/#<%= key %>" target="_blank" class="btn btn-mini btn-success param-help">Help</a>
</script>

<script type="text/template" id="template-project-container">
<h1>Saved Projects</h1>
</script>

<script type="text/template" id="template-project-item">
<hr>
<h4><a href="/client/#projects/<%= id %>"><%= title %></a></h4>
<ul>
  <li>Location: <%= location %></li>
  <li>Description: <%= description %></li>
  <li>Created: <%= created %> (<%= createdFromNow %>)</li>
  <li>Updated: <%= updated %> (<%= updatedFromNow %>)</li>
</ul>
<div class='project-buttons' style="position:relative">
  <a class="btn btn-small btn-success btn-load" href="#projects/<%= id %>"><i class="icon-circle-arrow-right icon-white"></i> Load</a>
  <button class="btn btn-small btn-danger btn-delete"><i class="icon-trash icon-white"></i> Delete</button>
  <div class="alert alert-error" style="display:none; margin-top:10px; position:absolute; left:0px;">
    <span>Are you sure?</span>
    <div class="btn btn-danger btn-confirm">Yes</div>
    <div class="btn btn-cancel">No</div>
  </div>
</div>
</script>


<script type="text/template" id="template-error">
<h1><%= title %></h1>
<p><%= message %></p>
</script>

<script type="text/template" id="template-tabs">
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#tab-param-basic" data-toggle="tab">Basic</a>
  </li>
  <li>
    <a href="#tab-param-advanced" data-toggle="tab">Advanced</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade active in" id="tab-param-basic"></div>
  <div class="tab-pane fade in" id="tab-param-advanced"></div>
</div>
</script>

<script type="text/template" id="template-comment-item">
<div class="comment-header">
  <span class="comment-owner"><%= owner.username %></span> • 
  <span class="comment-time"><%= formatCreated %></span>
  <button class="btn btn-mini btn-delete btn-danger" style="float:right;"><i class="icon-trash icon-white"></i> Delete</button>
</div>
<div class="comment-text"><%= comment %></div>
<hr>
</script>

{% endblock content %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static "js/lib/underscore-1.4.4.js" %}"></script>
  <script src="{% static "js/lib/backbone-1.0.0.js" %}"></script>
  <script src="{% static "js/lib/d3-3.0.8.js" %}"></script>
  <script src="{% static "js/lib/numeric-1.2.6.js" %}"></script>
  <script src="{% static "js/lib/moment-2.0.0.js" %}"></script>
    
  <script src="{% static "js/utils.js" %}"></script>
  <script src="{% static "js/app.js" %}"></script>
  <script src="{% static "js/models/project.js" %}"></script>
  <script src="{% static "js/models/parameter.js" %}"></script>
  <script src="{% static "js/models/comment.js" %}"></script>
  <script src="{% static "js/collections/projects.js" %}"></script>
  <script src="{% static "js/collections/parameters.js" %}"></script>
  <script src="{% static "js/collections/comments.js" %}"></script>
  <script src="{% static "js/views/dashboard.js" %}"></script>
  <script src="{% static "js/views/controls.js" %}"></script>
  <script src="{% static "js/views/parameter.js" %}"></script>
  <script src="{% static "js/views/project.js" %}"></script>
  <script src="{% static "js/views/comment.js" %}"></script>
  <script src="{% static "js/views/simulation.js" %}"></script>
  <script src="{% static "js/views/chart.js" %}"></script>
  <script src="{% static "js/views/error.js" %}"></script>
  <script src="{% static "js/routers/workspace.js" %}"></script>

  <script>
  $(function() {
    {% if user.is_authenticated %}
      App.user = "{{ user }}";
    {% else %}
      App.user = null;
    {% endif %}
    if (Modernizr.svg) {
      App.boot($('#content'));  
    } else {
      $('#content').html('<div class="alert alert-danger"><h1>Error!</h1><p>Your browser does not support SVG graphics, which are required for this application. Please upgrade to the latest version of Internet Explorer, Chrome, Firefox, Safari, or Opera. The latest version of <a href="http://www.google.com/chrome">Chrome</a> is recommended for optimal performance.</p></div>');
    };
    
  });
  </script>
{% endblock scripts %}
