{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="hero-unit" style="position:relative;">
  <h1>Web-based Interactive River Model (WIRM)</h1>
  <img src="{% static "img/chart.png" %}" alt="Chart" width="907" height="320" style="align:center;">
  <br><br>
  <p>A simple water quality model for understanding the effects of pollution on dissolved oxygen levels in rivers and streams.</p>
  <p><a href="/client/" class="btn btn-primary btn-large">Try it! &raquo;</a></p>
</div>

<div class="row">
  <div class="span3">
    <h2>Sign Up</h2>
    <p>Register for free to save model configurations on the server.</p>
    <p><a class="btn" href="/accounts/register/">Sign up &raquo;</a></p>
  </div>
  <div class="span3">
    <h2>Theory</h2>
    <p>Read about the theory, equations, and parameters used in the model.</p>
    <p><a class="btn" href="/theory/">Theory &raquo;</a></p>
  </div>
  <div class="span3">
    <h2>Tutorial</h2>
    <p>Follow the tutorial to learn more about to use the WIRM interface.</p>
    <p><a class="btn" href="/tutorial/">Tutorial &raquo;</a></p>
  </div>
  <div class="span3">
    <h2>Model</h2>
    <p>After reading the theory and tutorial, start modeling...</p>
    <p><a class="btn" href="/client/">Start Modeling &raquo;</a></p>
  </div>  
</div>
{% endblock content %}
