{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<div class="hero-unit" style="position:relative;">
  <h1>Web-based Interactive River Model (WIRM)</h1>
  <img src="{% static "img/chart_screenshot.png"%}" alt="Example Chart" width="350" height="215" style="float:right; border-radius:10px; margin-left:25px;">
  <p>A simple water quality model for understanding the effects of pollution on dissolved oxygen levels in rivers and streams. This site was created as a demonstration of modern web application development, and how new technologies can be used to create interactive, easy-to-use environmental simulation models. It is intended primarily for educational purposes, but can be used for the analysis of real systems.</p>
  <p><a href="/getting-started/" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
</div>

<div class="row">
  <div class="span3">
    <h2>Sign Up</h2>
    <p>While an account is not required to use the model, it is required to save model configurations and parameter values to the server. Registration is free and takes less than 5 minutes.</p>
    <p><a class="btn" href="/accounts/register/">Sign up &raquo;</a></p>
  </div>
  <div class="span3">
    <h2>Theory</h2>
    <p>The model theory page describes the underlying equations, parameters, and numerical method that govern the water quality simulation.</p>
    <p><a class="btn" href="/theory/">View the theory &raquo;</a></p>
  </div>
  <div class="span3">
    <h2>Start Modeling</h2>
    <p>If you already have an account or do not wish to save a model configuration to the server, and you understand the <a href="/theory/">theory</a> behind the model, then let's get started.</p>
    <p><a class="btn" href="/client/">Start modeling &raquo;</a></p>
  </div>
  <div class="span3">
    <h2>Read the Code</h2>
    <p>The code behind this site is available as an open source project on Github.</p>
    <p><a class="btn" href="/client/">Read the Code &raquo;</a></p>
  </div>
</div>
{% endblock content %}
