{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Theory{% endblock title %}

{% block head_scripts %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  displayAlign: 'left',
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  },
  "HTML-CSS": {
    scale: 100
  }
});
</script>

<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>  
{% endblock head_scripts %}

{% block content %}
<div class="container">
  <h1>Model Theory</h1>
  <hr>
  <div class="row row-doc">
    <div class="span3">
      <h3>Introduction</h3>
    </div>
    <div class="span9">
      <p>WIRM is a modified version of the <a href="http://en.wikipedia.org/wiki/Streeter-Phelps_equation">Streeter-Phelps equation</a>, which is one of the first water quality models originally developed during a study of the Ohio River in the 1920s (<a href="http://dspace.udel.edu:8080/dspace/bitstream/handle/19716/1590/C%26EE148.pdf?sequence=2">Streeter and Phelps, 1925</a>). The model is used to simulate the effect of a <a href="http://en.wikipedia.org/wiki/Sewage_treatment#Secondary_treatment">Biochemical Oxygen Demand (BOD)</a> point discharge on Dissolved Oxygen (DO) levels of rivers and streams.</p>
      <h5>Dissolved Oxygen</h5>
      <p>Although often thought of as a gas, oxygen readily dissolves into water where it is needed for the survival of various aquatic organisms such as fish. The minimum DO concentration varies by species and organism, but is typically between 4 and 6 mg/L. A number of physical, chemical and biological processes affect the concentration of DO in rivers and lakes. DO is consumed by many biological decomposition, but also produced by photosynthesis. Gas exchange between the water and the atmosphere also changes the concentration of DO, driving it towards a state of equilibrium. Chemical processes such as oxidation can also affect DO levels.</p>
      <h5>Biochemical Oxygen Demand</h5>
      <p>Before the invention of modern treatment technologies, wastewater effluent contained high concentrations of organic compounds. When these organic compounds are released in the environment, they are decomposed by microbial organisms and undergo chemical oxidation. The total amount of oxygen that is consumed by these processes is referred to as the Biochemical Oxygen Demand (BOD).</p>
      <p>The concentration of BOD is often measured by placing a water sample in a dark bottle and measuring the change in dissolved oxygen over time. As the BOD decays, the oxygen is consumed by microbial and chemical processes. The total amount of oxygen that is lost over a specific period of time is then defined as the concentration of BOD. Typically, BOD is measured over a 5-day and referred to as the 5-day BOD (BOD5). The ultimate BOD (UBOD) is the total amount of BOD that would be measured if the experiment were conducted over a very long (effectively infinite) period.</p>
    </div>
  </div>
  <hr>
  <div class="row row-doc">
    <div class="span3">
      <h3>Model Schematic</h3>
    </div>
    <div class="span9">
      <p>This figure shows a schematic diagram of the model, which includes two state variables: the concentrations of BOD, $L$, and DO, $o$. These variables are subject to two processes: 1) BOD decay, which reduces both BOD and DO, and 2) DO reaeration, which is the exchange of oxygen between the water and air that will increase DO if it is below saturation.</p>
      <img src="{% static "img/theory/model_schematic.png" %}" alt="" width="350" height="243">
    </div>
  </div>
  <hr>
  <div class="row row-doc">
    <div class="span3">
      <h3>Equations</h3>
    </div>
    <div class="span9">
      <p>The model schematic shown above is mathematically represented as a system of two ordinary differential equations (ODEs):</p>
      $$\frac{dL}{dt} = -F_{ox}k_dL$$
      $$\frac{do}{dt} = -F_{ox}k_dL+k_a(o_s-o)$$
      <p>where $L$ and $o$ are the concentrations of BOD and DO (mg/L), respectively, $t$ is the downstream travel time (days), $k_d$ is the BOD decay rate (1/d), $k_a$ is the DO reaeration rate (1/d), $o_s$ is the DO saturation concentration (mg/L), and $F_{ox}$ is the BOD/DO inhibition factor (unitless).</p>
    </div>
  </div>
  <hr>
  <div class="row row-doc">
    <div class="span3">
      <h3>Initial Conditions</h3>
    </div>
    <div class="span9">
      <p>The equations are solved using the initial concentrations of BOD and DO:</p>
      $$L(t=0) = L_0$$
      $$o(t=0) = o_0$$  
      <p>These initial concentrations are the in-stream concentrations resulting from complete mixing of the discharge with the river. They can be computed as the flow-weighted mean of the discharge concentration and in-stream concentration just upstream of the discharge point, see <a href="#L_0">below</a>.</p>
    </div>
  </div>
  <hr>
  <div class="row row-doc">
    <div class="span3">
      <h3>Numerical Method</h3>
    </div>
    <div class="span9">
      <p>Given the initial concentrations, the differential equations for BOD and DO as a function of travel time are solved using the <a href="http://en.wikipedia.org/wiki/Runge%E2%80%93Kutta_methods#Common_fourth-order_Runge.E2.80.93Kutta_method">4th-order Runge-Kutta</a> numerical method.</p> 
      <p>For a generic variable, $y$, with initial condition $y(t=0)=y_0$ and derivative function $f(t, y)=dy/dt$ the solution for $y(t)$ can be computed incrementally. If $h$ is the step size between each solution point, then:</p>
      $$y(t+h) = y(t) + \frac{h}{6}(K_1+K_2+K_3+K_4)$$
      where $K_1$, $K_2$, $K_3$, and $K_4$ are defined as:
      $$
      \begin{eqnarray}
        K_1 & = & f(t, y(t)) \\\
        K_2 & = & f(t + h/2, y(t) + h/2\cdot K_1) \\\
        K_3 & = & f(t + h/2, y(t) + h/2\cdot K_2) \\\
        K_4 & = & f(t + h, y(t) + h\cdot K_3)
      \end{eqnarray}
      $$
    </div>
  </div>
  <hr>
  <div class="row row-doc">
    <div class="span3">
      <h3>Travel Time and Distance</h3>
    </div>
    <div class="span9">
      <p>While the equations above describe the concentrations of BOD and DO as functions of travel time, it is often more useful to express the concentrations as functions of distance downstream. Travel time can easily be converted to downstream distance given the velocity of the river flow:</p>
      $$x = 86.4U t$$
      <p>where $x$ is the distance downstream of the discharge point (km), $U$ is the velocity (m/s), $t$ is the travel time (days), and 86.4 is a unit conversion factor (86.4 km/day = 1 m/s).</p>
    </div>
  </div>
  <hr>
  <div class="row row-doc">
    <div class="span3">
      <h3>BOD Decay</h3>
    </div>
    <div class="span9">
      <p>The model assumes that BOD decay can be represented as a <a href="http://en.wikipedia.org/wiki/Exponential_decay">first-order decay process</a>. The BOD decay rate depends on two factors:</p>
      <ol>
         <li>Chemical Composition: more complex compounds are more difficult for microbes to decompose, and thus take longer to break down.</li>
         <li>Temperature: chemical and microbial processes are often temperature dependent with higher temperatures driving faster rates.</li>
      </ol>
      <p>To account for both these factors, the rate of BOD decay is computed by:</p>
      $$k_d = k_{d,20}\theta_{BOD}^{T-20}$$
      <p>where $k_{d,20}$ is the base decay rate at 20$^\circ$C, $\theta_{BOD}$ is the temperature correction factor, and $T$ is the water temperature (degC). The base decay rate and temperature correction factor are discussed in more detail below.</p>
    </div>
  </div>
  <hr>
  <div class="row row-doc">
    <div class="span3">
      <h3>DO Inhibition Factor</h3>
    </div>
    <div class="span9">
      <p>The DO inhibition factor is a modification of the original Streeter-Phelps equation that limits the BOD decay rate when DO levels are low. Without this factor, the model can produce negative concentrations of DO, a result that is not physically possible. The inhibition factor is defined using Michaelis-Menton kinetics:</p>
      $$F_{ox} = \frac{o}{k_{so} + o}$$
      <p>where $k_{so}$ is the oxygen inhibition half-saturation constant (mg/L). When the concentration of DO is equal to the half-saturation constant ($o=k_{so}$), then the inhibition factor is $F_{ox}=0.5$ and the rate of BOD decay, $k_d$, is effectively reduced by 50%. As the DO concentration approaches 0 mg/L, the inhibition factor and BOD decay rates also approach 0 preventing further BOD decay when no oxygen is available.</p>
      <p>The following figure shows the relationship between $F_{ox}$ and $o$ for a half-saturation concentration $k_{so} = 1$ mg/L.</p>
      <img src="{% static "img/theory/inhibition_factor.png" %}" alt="" width="396" height="268">
    </div>
  </div>
  <hr>
  <div class="row row-doc">
    <div class="span3">
      <h3>DO Saturation</h3>
    </div>
    <div class="span9">
      <p>The <a href="https://en.wikipedia.org/wiki/Oxygenation_(environmental)">saturation concentration of DO</a> is the concentration at which the water is in equilibrium with the air. When the DO concentration is less than saturation, then the water is said to be under-saturated and oxygen from the air diffuses into the water. Similarly, when the DO level is greater than saturation the water is super-saturated and oxygen is released from the water.</p>
      <p>The DO saturation concentration is automatically computed according to the standard formula (Chapra, 1997):</p>
      $$o_s = -139.34411 + \frac{1.575701\times 10^5}{T_a} - \frac{6.642308\times 10^7}{T_a^2} + \frac{1.243800\times 10^10}{T_a^3} -  \frac{8.621949\times 10^11}{T_a^4}$$
      <p>where $T_a$ is the water temperature in degrees Kelvin ($T_a[K] = T[^\circ C] + 273.15$). Although DO saturation is also affected by salinity and air pressure, we assume the water is freshwater with negligable salinity and located at an air pressure of approximately 1 atm.</p>
      <p>The relationship between DO saturation and water temperature is illustrated in the following figure.</p>
      <img src="{% static "img/theory/do_saturation.png" %}" alt="" width="384" height="268">
    </div>
  </div>
  <hr>
  <div class="row row-doc">
    <div class="span3">
      <h3>DO Reaeration</h3>
    </div>
    <div class="span9">
      <h4>$k_a$: DO reaeration rate (mg/L)</h4>
      <p>The rate of DO reaeration determines the rate at which oxygen is transferred between the water and the air when the DO concentration is above or below the saturation concentration. It is commonly estimated by empirical models that relate the reaeration rate to hydraulic characteristics of the river, usually depth and velocity.</p>
      <p>The Cover chart combines three empirical studies that were performed on streams of different characteristics (<a href="https://play.google.com/books/reader?id=J0Jpe6q1GlcC&printsec=frontcover&output=reader&authuser=0&hl=en&pg=GBS.PA340">Covar, 1976</a>). This chart estimates the reaeration rate at 20$^\circ$ C, $k_{a,20}$ based on the mean depth and velocity of the river.</p>
      <img src="{% static "img/covar.png" %}" alt="" width="483" height="507">
      <p>(extracted from <a href="http://nepis.epa.gov/Exe/ZyPURL.cgi?Dockey=9100R3IW.txt">EPA, 1985</a>)</p>
      <p>The equations used in the Cover chart are:</p>
      $$
      k_{a,20} = \left\{ 
        \begin{array}{l l}
          5.32\ U^{0.67} H^{-1.85} & \quad \text{if $H \leq 0.61$ m} & \quad \text{Owens et al. (1964)} \\
          3.93\ U^{0.5} H^{-1.5} & \quad \text{if $H > 0.61$ and $H > 4.15\cdot U^{2.71}$} & \quad \text{O'Connor and Dobbins (1958)} \\
          5.026\ U^{0.969} H^{-1.673} & \quad \text{if $H > 0.61$ and $H <= 4.15\cdot U^{2.71}$} & \quad \text{Churchill et al. (1962)}
        \end{array} \right.
      $$
      <p>where $U$ is the stream velocity (m/s) and H is the mean depth (m). Note that these equations are in the metric form, whereas the chart shows english units.</p>
      <p>Similar to the BOD decay, the reaeration rate is also affected by temperature. The effective reaeration rate, $k_a$, is computed by:</p>
      $$k_a = k_{a,20}\theta_{DO}^{ T-20}$$
      <p>where $k_{a,20}$ is the decay rate at 20$^\circ$C estimated using the Covar chart, $\theta_{DO}$ is the temperature correction factor, and $T$ is the water temperature (degC). The temperature correction factor, $\theta_{DO}$, can be estimated from laboratory experiments, but a typical value of 1.024 is often used (Chapra, 1997; Thomann and Meuller, 1987).</p>
    </div>
  </div>
  <hr>
  <div class="row row-doc">
    <div class="span3">
      <h3>Basic Input Parameters</h3>
    </div>
    <div class="span9">
      <h4 id="L_0">$L_0$: Initial Concentration of BOD (mg/L)</h4>
      <p>The initial concentration of BOD is the in-stream concentration after the discharge has fully mixed with the river. It can be computed as the flow-weighted mean concentration by:</p>
      $$L_0 = \frac{L_{ps}*Q_{ps} + L_{river}*Q_{river}}{Q_{ps}+Q_{river}}$$
      <p>where $L_{ps}$ and $L_{river}$ are the concentrations of BOD in the discharge and in the river just upstream of the discharge point, and $Q_{ps}$ and $Q_{river}$ are the corresponding flows of the discharge and river. If there are no upstream pollution sources or inputs of BOD, it may be reasonable to assume that $Q_{river}=0$.</p>
      <p>The following table provides some typical concentrations of wastewater effluent for various treatment technologies from Thomann and Mueller (1987).</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Treatment Level</th>
            <th>BOD Range (mg/L)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Primary</td>
            <td>100-200</td>
          </tr>
          <tr>
            <td>Trickling Filter</td>
            <td>20-50</td>
          </tr>
          <tr>
            <td>Activated Sludge</td>
            <td>10-50</td>
          </tr>
          <tr>
            <td>Secondary and Nitrification</td>
            <td>5-20</td>
          </tr>
          <tr>
            <td>Secondary, Chemical, and Filtration</td>
            <td>1-8</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <h4 id="o_0">$o_0$: Initial Concentration of DO (mg/L)</h4>
      <p>The initial concentration of DO is the in-stream concentration after the discharge has mixed with the river. It can be computed as the flow-weighted mean concentration by:</p>
      $$o_0 = \frac{o_{ps}*Q_{ps} + o_{river}*Q_{river}}{Q_{ps}+Q_{river}}$$
      <p>where $o_{ps}$ and $o_{river}$ are the concentrations of DO in the discharge and in the river just upstream of the discharge point, and $Q_{ps}$ and $Q_{river}$ are the corresponding flows of the discharge and river.</p>
      <p>If the upstream concentration is not known and there are no major pollution sources upstream, then it may be reasonable to set the initial DO concentration to the saturation concentration, $o_0 = o_s$.</p>
      <hr>
      <h4 id="T">$T$: Water Temperature (degC)</h4>
      <p>If the water temperature cannot be directly measured, it can be estimated based on the mean daily air temperature or using measurements from other rivers in the region. The <a href="http://waterdata.usgs.gov/nwis">USGS National Water Information System</a> provides temperature data on many rivers across the U.S.</p>
      <hr>
      <h4 id="H">$H$: Mean Depth (m)</h4>
      <p>The mean depth can be computed by taking multiple depth measurements and computing the average, or by dividing the cross-section area by the width of the river.</p>
      $$H = A_c/W$$
      <p>where $H$ is the mean depth (m), $A_c$ is the cross-sectional area (m<sup>2</sup>), and $W$ is the width (m).</p>
      <hr>
      <h4 id="U">$U$: Velocity (m/s)</h4>
      <p>The velocity of the river can be computed by dividing the flow rate by the mean cross-sectional area.</p>
      $$U = Q/A_c$$
      <p>where $U$ is the mean velocity (m/s), $Q$ is the flow rate (m<sup>3</sup>/s) and $A_c$ is the cross-sectional area (m<sup>2</sup>).</p>
      <hr>
      <h4 id="x_max">$x_{max}$: Maximum Downstream Distance (km)</h4>
      <p>The maximum downstream distance defines the extent of the x-axis scale in the output chart. It has not effect on the model solution.</p>
    </div>
  </div>
  <hr>
  <div class="row row-doc">
    <div class="span3">
      <h3>Advanced Input Parameters</h3>
    </div>
    <div class="span9">
      <h4 id="k_d_20">$k_{d,20}$: BOD Decay Rate at 20 degC (mg/L)</h4>
      <p>The baseline decay rate at 20$^\circ$C typically ranges from 0.05-0.5 /day (EPA, 1985). Thomann and Mueller provide the following ranges and average values for different wastewater treatment levels:</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Treatment Level</th>
            <th>$k_{d,20}$ Range (1/d)</th>
            <th>$k_{d,20}$ Average (1/d)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>None</td>
            <td>0.3-0.4</td>
            <td>0.35</td>
          </tr>
          <tr>
            <td>Primary/Secondary</td>
            <td>0.1-0.3</td>
            <td>0.20</td>
          </tr>
          <tr>
            <td>Activated Sludge</td>
            <td>0.05-0.1</td>
            <td>0.075</td>
          </tr>
        </tbody>
      </table>      
      <hr>
      <h4 id="k_so">$k_{so}$: DO Inhibition Half-saturation Constant (mg/L)</h4>
      <p>The DO inhibition half-saturation constant is the DO concentration at which the inhibition factor $F_{ox}=0.5$, and thus the BOD decay rate is effectively reduced by 50%. There are no general guidelines available for this parameter, but a typical value of 1 mg/L is recommended.</p>
      <hr>
      <h4 id="theta_BOD">$\theta_{BOD}$: BOD Decay Temperature Correction Factor (unitless)</h4>
      <p>The BOD temperature correction factor, $\theta_{BOD}$, can be estimated from laboratory experiments, but a value of 1.047 is frequently used.</p>
      <hr>
      <h4 id="theta_DO">$\theta_{DO}$: DO Reaeration Temperature Correction Factor (unitless)</h4>
      <p>The DO reaeration temperature correction factor, $\theta_{DO}$, can range from 1.005 to 1.030 depending on the amount of mixing in the river (Thomann and Mueller, 1987). A typical value of 1.024 is often used.</p>
    </div>
  </div>
  <hr>
  <div class="row row-doc">
    <div class="span3">
      <h3>Assumptions and Limitations</h3>
    </div>
    <div class="span9">
      <p>The model described above is based on a number of assumptions:</p>
      <ul>
        <li><strong>Steady State</strong>: model output represents a snapshot of the concentrations at a single point in time.</li>
        <li><strong>Pollution Source</strong>: there is only one source of BOD to the river at the upstream boundary of the target reach (x=0).</li>
        <li><strong>Spatial Uniformity</strong>: the characteristics of the river (depth, velocity, temperature, etc.) are uniform over the simulated reach.</li>
        <li><strong>Processes</strong>: the DO concentraiton is only affected by the two processes represented in the model (BOD decay and reaeration). Additional processes such as photosynthesis or sediment oxygen demand are assumed to have negligable effects compared to BOD decay and reaeration.</li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
