{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Theory{% endblock title %}

{% block style %}
{{ block.super }}
<style>


</style>
{% endblock style %}

{% block head_scripts %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  displayAlign: 'left',
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  },
  "HTML-CSS": {
    scale: 100
  }
});
</script>

<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>  
{% endblock head_scripts %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav" data-spy="affix" data-offset-top="0">
        <ul class="nav nav-list">
          <li class="active"><a href="#"><i class="icon-arrow-up"></i> Top</a></li>
          <li class="nav-header">Theory</li>
          <li><a href="#equations">Equations</a></li>
          <li class="nav-header">Parameters</li>
          <li><a href="#L_0">$L_0$</a></li>
          <li><a href="#o_0">$o_0$</a></li>
          <li><a href="#o_s">$o_s$</a></li>
          <li><a href="#k_d">$k_d$</a></li>
          <li><a href="#k_a">$k_a$</a></li>
          <li><a href="#k_so">$k_{so}$</a></li>
          <li class="nav-header">Solver</li>
          <li><a href="#RK4">Runge-Kutta</a></li>
          
        </ul>
      </div>
    </div>
    <div class="span10" id="theory-content">
      <h1 id="equations">Model Theory</h1>
        <p>The BOD/DO river model is modified version of the <a href="http://en.wikipedia.org/wiki/Streeter-Phelps_equation">Streeter-Phelps equation</a>. The model is defined as a system of two ordinary differential equations:</p>
        <img src="{% static "img/model_diagram.png" %}" alt="" width="35%" height="35%" style="float:right;">
        $$\frac{dL}{dt} = -F_{ox}k_dL$$
        $$\frac{do}{dt} = -F_{ox}k_dL+k_a(o_s-o)$$
        <p>where $L$ and $o$ are the concentrations of Biochemical Oxygen Demand (BOD) and Dissolved Oxygen (DO) (mg/L), respectively, $k_d$ is the BOD decay rate (1/d), $k_a$ is the DO reaeration rate (1/d), $o_s$ is the DO saturation concentration (mg/L), and $F_{ox}$ is the BOD/DO inhibition factor (-), which is defined as:</p>
        $$F_{ox} = \frac{o}{k_{so} + o}$$
        <p>where $k_{so}$ is the oxygen inhibition half-saturation constant (mg/L).</p>

        <p>The equations are solved given the initial concentrations of BOD and DO:</p>
        $$L(t=0) = L_0$$
        $$o(t=0) = o_0$$
        <p>There are thus six parameters that must be defined:</p>
        <ul>
          <li><a href="#L_0">$L_0$: Initial concentration of BOD (mg/L)</a></li>
          <li><a href="#o_0">$o_0$: Initial concentration of DO (mg/L)</a></li>
          <li><a href="#o_s">$o_s$: Saturation concentration of DO (mg/L)</a></li>
          <li><a href="#k_d">$k_d$: BOD decay rate (1/d)</a></li>
          <li><a href="#k_a">$k_a$: DO reaeration rate (1/d)</a></li>
          <li><a href="#k_so">$k_{so}$: DO inhibition half-saturation rate (1/d)</a></li>
        </ul>
        <hr>
        <h2>Parameters</h2>
        <h4 id="L_0">$L_0$: Initial Concentration of BOD (mg/L)</h4>
        <p>The initial concentration of <a href="http://en.wikipedia.org/wiki/Biochemical_oxygen_demand">Biochemical Oxygen Demand (BOD)</a> is the concentration at the upstream boundary. It is commonly computed at a point of discharge, such where wastewater effluent is discharged to a river. It can be computed as the flow-weighted sum of BOD concentrations upstream of the discharge point and of the discharge.</p>
        <hr>
        <h4 id="o_0">$o_0$: Initial Concentration of DO (mg/L)</h4>
        <p>The initial concentration of <a href="http://en.wikipedia.org/wiki/Dissolved_oxygen">Dissolved Oxygen (DO)</a> is the concentration at the upstream boundary. It is commonly computed at a point of discharge, such where wastewater effluent is discharged to a river. It can be computed as the flow-weighted sum of DO concentrations upstream of the discharge point and of the discharge.</p>
        <hr>
        <h4 id="o_s">$o_s$: Saturation Concentration of DO (mg/L)</h4>
        <p>The <a href="https://en.wikipedia.org/wiki/Oxygenation_(environmental)">saturation concentration of DO</a> the concentration at which the water is in equilibrium with the air. When the concentration in the water is greater than the saturation concentration, then DO will be transferred from the water to the air by simple gas exchange at a rate determined by the reaeration rate. The DO saturation concentration depends primarily on the water temperature, and possibly salinity and atmospheric pressure.</p>
        <hr>
        <h4 id="k_d">$k_d$: BOD decay rate (mg/L)</h4>
        <p>The decay rate of BOD defines how fast the carbonaceous material decays. It assumes a first order decay process. The decay rate is primarily affected by the chemical composition of the carbonaceous material, as well as temperature. A typical range is 0.05 - 0.5 mg/L (EPA Rates and Constants)</p>
        <hr>
        <h4 id="k_a">$k_a$: DO reaeration rate (mg/L)</h4>
        <p>The rate of DO reaeration is the rate at which oxygen is transferred between the water and the air. It is commonly estimated by various empirical models (e.g. Covar chart), and is primarily affected by the water depth, temperature, and amount of turbulence. More turbulent water typically has more bubble formation which facilitates gas exchange.</p>
        <hr>
        <h4 id="k_so">$k_{so}$: DO inhibition half-saturation constant (mg/L)</h4>
        <p>The DO inhibition half-saturation constant is the DO concentration at which the BOD decay rate is reduced by 50%. It is based on Michaelis-Menton style kinetics.</p>
        <hr>
        <h2 id="RK4">Solver</h2>
        <p>The equations are solved using the <a href="http://en.wikipedia.org/wiki/Runge%E2%80%93Kutta_methods#Common_fourth-order_Runge.E2.80.93Kutta_method">Runge-Kutta 4th Order</a> numerical method.</p>
    </div>
  </div>
</div>
{% endblock content %}
