{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Tutorial{% endblock title %}

{% block content %}
<h1>Model Tutorial</h1>
<hr>
<div class="row row-doc">
  <div class="span3">
    <h3>Introduction</h3>
  </div>
  <div class="span9">
    <p>This tutorial will walk you through the following steps</p>
    <ul>
      <li><strong><a href="#register">Registering</a></strong> a new user account and logging in</li>
      <li><strong><a href="#open">Opening</a></strong> the application interface</li>
      <li><strong><a href="#create">Creating</a></strong> a new project</li>
      <li><strong><a href="#save">Saving</a></strong> a new project to the server</li>
      <li><strong><a href="#load">Loading</a></strong> a saved project</li>
      <li><strong><a href="#modify">Modifying</a></strong> a saved project</li>
      <li><strong><a href="#comment">Commenting</a></strong> on projects and collaborating with other users</li>
      <li><strong><a href="#share">Sharing</a></strong> a project with other users</li>
    </ul>
  </div>
</div>
<hr>
<div class="row row-doc">
  <div class="span3">
    <h3 id="register">Registering and Logging In</h3>
  </div>
  <div class="span9">
    <p>A user account is required to save projects to the server and post comments. An account is <strong>not required</strong> to access the model or view other user's saved projects.</p>
    <hr>
    <h4>Registration</h4>
    <p>Account registration is free and takes less than 5 minutes. Simply visit the <a href="/accounts/register/">registration</a> page, and fill out the form with your name, email and password. Your password will be encrypted and your email will not be vieweble by any other users other than the website administration.</p>
    <img class="boxed" src="{% static "img/tutorial/registration.png" %}" alt="Registration Form" width="420" height="313">
    <p>After submitting the form, you will soon receive an activation email in your inbox containing a link to activate your account. Click the link and you will see a confirmation that your account has been activated.</p>
    <hr>
    <h4>Logging In</h4>
    <p>Once you have activated your account, you can log in with your chosen username and password at the <a href="/accounts/login/">login page</a>. If you have forgotten your password, click the link to reset it.</p>
    <img class="boxed" src="{% static "img/tutorial/login.png" %}" alt="Login Form" width="422" height="280">
    <p>After logging in, you will be redirected to the WIRM homepage and you should see your log-in status and link to log out in the upper right corner.</p>
    <img src="{% static "img/tutorial/login_status.png" %}" alt="Login Status" width="361" height="40">
    <hr>
    <h4>Logging Out</h4>
    <p>To log out, simple click the logout button in the upper right corner of the navigation bar.</p>
  </div>
</div>
<hr>
<div class="row row-doc">
  <div class="span3">
    <h3 id="open">Open Application</h3>
  </div>
  <div class="span9">
    <p>To open the model application, either</p>
    <ul>
      <li>Visit the URL: <a href="http://wirm.walkerenvres.com/client/">http://wirm.walkerenvres.com/client/</a></li>
      <li>
        <p>Click <code>Model</code> &gt; <code>New Project</code> on the navigation bar</p>
        <img src="{% static "img/tutorial/new_project.png" %}" alt="New Project" width="539" height="126">
      </li>
     </ul>
     <p><strong>Important:</strong> if you plan to save a project to the server you will need to login first. If you login after setting up a new project, you will lose any changes to the parameter values.</p>
  </div>
</div>
<hr>
<div class="row row-doc">
  <div class="span3">
    <h3 id="create">Creating a New Project</h3>
  </div>
  <div class="span9">
    <p>Once the application is loaded, the user is presented with the <strong>New Project</strong> interface. A <strong>Project</strong> is an application of the model for a specific river and under specific conditions. Each New Project is based on the default parameter values. The user needs to adjust each of these parameters based on the characteristics of the river of interest.</p>
    <p>The model parameters are grouped into two tabs:</p>
    <ul>
      <li><strong>Basic</strong>: the basic parameters must all be defined by the user. These parameters are the minimum amount of information necessary to represent a unique river.</li>
      <li><strong>Advanced</strong>: the advanced parameters should also be reviewed, but are more difficult to assign. For example, the BOD decay rate at 20C typically requires laboratory experiments of water samples to estimate.</li>
    </ul>
    <img src="{% static "img/tutorial/set_parameters.png" %}" alt="Set Parameters" width="594" height="483">
    <hr>
    <h4>Reverting to Default Values</h4>
    <p>Changes to the parameters values can be undone by clicking the <code>Reset</code> button, which resets the parameters to the default values.</p>
    <img src="{% static "img/tutorial/reset_button.png" %}" alt="Reset Parameters" width="290" height="84">
  </div>
</div>
<hr>
<div class="row row-doc">
  <div class="span3">
    <h3 id="save">Saving a Project</h3>  
  </div>
  <div class="span9">
    <p>Once the parameter values have been adjusted to match a specific river, the user can save the project to the server by clicking the <code>Save</code> button.</p>
    <img src="{% static "img/tutorial/save_button.png" %}" alt="Save Project" width="278" height="114">
    <hr>
    <p>The user must then fill out the new project form by setting the <code>Title</code>, <code>Location</code> and <code>Description</code> of the project, and clicking the <code>Save</code> button.</p>
    <ul>
      <li><strong>Title</strong>: short description used to identify the project such as the name of the river</li>
      <li><strong>Location</strong>: the geographic location such as the state or country where the river is located</li>
      <li><strong>Description</strong>: additional information about the project such as the name of the BOD discharge source, location of the simulated reach, or flow conditions used to define the model.</li>
    </ul>
    <img class="boxed" src="{% static "img/tutorial/project_modal.png" %}" alt="New Project Form" width="554" height="437">
    <p>After the project is saved to the server, the browser will automatically be redirected to the URL assigned to the new project.</p>
  </div>
</div>
<hr>
<div class="row row-doc">
  <div class="span3">
    <h3 id="load">Loading a Project</h3>
  </div>
  <div class="span9">
    <p>A saved proejct can be loaded by either:</p>
    <ul>
      <li>Visiting the unique URL, for example http://wirm.walkerenvres.com/client/#projects/1</li>
      <li>
        <p>Click <code>Model</code> &gt; <code>Saved Projects</code> on the navigation bar</p>
        <img src="{% static "img/tutorial/open_saved_project.png" %}" alt="Open Saved Project" width="527" height="120">
      </li>
    </ul>
    <hr>
    <p>The Saved Projects page will list all existing projects that the user has saved to the server. A project can be loaded by clicking its title, or the <code>Load</code> button. Projects can also be deleted by clicking the <code>Delete</code> button. Note that this list only shows the projects created by the current user, and does not include projects created by other users.</p>
    <img src="{% static "img/tutorial/saved_projects.png" %}" alt="Saved Projects List" width="971" height="269">
  </div>
</div>
<hr>
<div class="row row-doc">
  <div class="span3">
    <h3 id="modify">Modifying a Project</h3>
  </div>
  <div class="span9">
    <p>Existing project can only be modified by the user who created them (i.e. the "owner"). The owner can edit the project information by clicking the <code>Edit Project Info</code> button, delete the project by clicking the <code>Delete Project</code> button, or save changes to the parameter values by clicking the <code>Save</code> button. Other users may change the parameter values to investigate the parameter sensitivity or effect of changing initial discharge concentration, but they cannot save changes to the server.</p>
    <img src="{% static "img/tutorial/project_info.png" %}" alt="Project Information" width="576" height="170">
    <hr>
    <p>Changes to the parameters values can be undone by clicking the <code>Reset</code> button, which resets the parameter values to the values that were last saved to the server.</p>
    <img src="{% static "img/tutorial/reset_button.png" %}" alt="Reset Parameters" width="290" height="84">
  </div>
</div>
<hr>
<div class="row row-doc">
  <div class="span3">
    <h3 id="comment">Commenting</h3>
  </div>
  <div class="span9">
    <p>Comments can be added to any saved project by clicking on the <code>Comments</code> tab. Any registered user can leave comments on any project.</p>
    <img src="{% static "img/tutorial/comments.png" %}" alt="Comments" width="590" height="197">
  </div>
</div>
<hr>
<div class="row row-doc">
  <div class="span3">
    <h3 id="share">Sharing a Project</h3>
  </div>
  <div class="span9">
    <p>Once a project has been saved to the server, it can be easily shared with other users by clicking the <code>Share</code> button.</p>
    <img src="{% static "img/tutorial/share_button.png" %}" alt="Share Button" width="219" height="52">
    <hr>
    <p>The Share Project window provides a unique URL to the current project, which can be copied to the clipboard and pasted into an email or document. Other users can simple copy and paste this URL into their browser and immediately load the saved project. Note that all projects are publically accessible and thus other users do not need to register or log in to WIRM in order to view exisitng projects.</p>
    <img src="{% static "img/tutorial/share_modal.png" %}" alt="Share Project" width="552" height="200">
  </div>
</div>
{% endblock content %}
