/*****************
** global style **
*****************/

body {
  font-family: sans-serif;
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  padding-bottom: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

footer {
  text-align: center;
}

.hero-unit h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.row-doc > .span9 > h4:before { 
  display: block; 
  content: " "; 
  margin-top: -60px; 
  height: 60px; 
  visibility: hidden;
}

.row-doc > .span3 > h3 {
  margin-top: 0;
  text-align: center;
}

.row-doc > .span9 {
  margin-top: 10px;
}

/*******************
** controls style **
*******************/

.tab-content {
  padding: 0px 10px;
}

#controls {
  height:100px;
}

.param {
  position:relative ;
}

.param-info {
  position: absolute; 
  right: 0;
  top: 0;
}

.param-row {
  padding: 5px 0;
}

.param-help {
  float: right;
}

.slider {
  margin: 5px 0 0 0;
}

.slider-range {
  height: 30px;
}

.slider-min {
  float:left ;
}

.slider-max {
  float: right;
}

.project-buttons {
  padding: 5px 0;
}

li.project-item {
  list-style-type:none;
  padding-left: 0;
}

.comment-list-container {
  height: 300px;
  overflow: auto;
  overflow-x: hidden;
}

ul.comment-list {
  margin: 5px;
}

li.comment-item {
  list-style-type:none;
  padding-left: 0;
}

.comment-owner {
  font-weight: bold;
}

.comment-time {
  color: #aaaaaa;
}

.comment-text {
  padding-left: 10px;
}

/*****************
** d3/svg style **
*****************/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

path {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.legend line {
  stroke-width: 2px;
}